{{> main/header}}
<h1>Messagerie</h1>
<h2>Organisation</h2>
<a href="/orgas/new" class="ui red button">
    <i class="plus icon"></i>
    Ajouter une organisation
</a>
<table class = "ui definition table">
    <thead>
    <tr>
        <th> Nom</th>
        <th> Domaine</th>
        <th> Aliases</th>
        <th> Utilisateur</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
        {{#orga}}
        <tr>
            <td>{{name}}</td>
            <td>{{#domain}}{{.}}{{/domain}}</td>
            <td>{{#aliases}}{{.}}{{/aliases}}</td>
            <td>
                <ul>
                    {{#users}}
                    <li> {{lastname}} - {{email}}</li>
                    {{/users}}
                </ul>
            <td>
            <a href="/orgas/delete/{{id}}" class="ui circular mini icon red button">
                <i class="ui remove icon"></i>
            </a>
            {{/orga}}
        </tr>

    </tbody>

</table>
{{> main/footer}}